.boxChef {
  display: grid;
  place-content: center;
}

.floatingBox {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  margin-bottom: 1em;
}

.suboxChef {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.suboxChef p {
  display: grid;
  place-content: center;
  margin: 0;
}

.redesChef {
  display: grid;
  place-content: center;
}

.iconInstagramChef:hover {
    scale: 1.02;
    cursor: pointer;
    color: #9d6623;
}

.BarSeccion {
  display: grid;
  place-content: center;
  margin-bottom: 1em;
}

.subBarSeccion {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.btnOption {
  background: red;
  padding: 10px;
  border-radius: 1em;
  cursor: pointer;
}

.desactive {
  background: #eeee;
}

.active {
  background: #fff;
}