.barWarning {
  padding: 10px;
  display: grid;
  place-content: center;
  background: rgb(245, 50, 50);
}

.subBar {
  display: flex;
  flex-direction: row;
  gap: 5px;
  color: #fff;
}

.icon {
  display: grid;
  place-content: center;
}

.percentIcon {
  color: #fff;
}

.textBar {
  font-size: 1vw;
  display: grid;
  place-content: center;
}

@media screen and (max-width: 700px) {
  .textBar {
    font-size: 3.5vw;
  }
}
