.heroin_section {
  min-height: 90vh;
  display: flex;
  flex-wrap: wrap;
  /* gap: 10px; */
  width: 90%;
  margin-left: 5%;
  margin-bottom: 3em;
}

.boxInfo {
  flex-basis: 400px;
  flex-grow: 1;
  display: grid;
  place-content: center;
}

.boxImage {
  flex-basis: 400px;
  flex-grow: 1;
  display: grid;
  place-content: center;
}

.subBoxInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bigLogo {
  display: grid;
  place-content: center;
}

.imageLogo {
  width: 100%;
  height: auto;
}

.iconIlus {
  width: 100%;
  height: auto;
}

.headline {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 26px;
  text-align: center;
}

.boxBtnOrder {
  display: grid;
  place-content: center;
}

.btnOrder {
  display: grid;
  place-content: center;
  background: #ebebeb;
  padding: 5px 10px 5px 10px;
  border-radius: 1em;
  cursor: pointer;
}

.subBtnOrder {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.iconBtnOrder {
  display: grid;
  place-content: center;
}

.btnOrder:hover {
  scale: 1.02;
}

.characters {
  display: grid;
  place-content: center;
  margin-bottom: 1em;
}

.subCharacters {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.subChrCard {
  display: flex;
  flex-direction: row;
  gap: 3px;
}

.imgChr {
  display: grid;
  place-content: center;
}

.iconChrcard {
  color: #bababa;
}

.topBanner {
  display: grid;
  place-content: center;
  margin-bottom: 1em;
}

.subTopBanner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5em;
}

.FirstPartBanner {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}

.imgBanner {
  display: grid;
  place-content: center;
}

.iconBanner {
  width: 40px;
  height: auto;
}

.bannerMessage {
  display: grid;
  place-content: center;
  font-weight: 300;
}

.subPreChef {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.boxInfoChef {
  display: grid;
  place-content: center;
}

.presentationSection {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 3em;
}

.samples {
  display: flex;
  flex-wrap: wrap;
}

.carrouselBox {
  flex-basis: 400px;
  flex-grow: 1;
}

.goEatBox {
  flex-basis: 400px;
  flex-grow: 1;
}

.boxCarrousel {
  margin-bottom: 2em;
}

@media screen and (max-width: 600px) {
  .subCharacters {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .subTopBanner {
    gap: 1em;
  }

  .bannerMessage {
    font-size: 4.4vw;
  }

  .headline {
    font-size: 5.8vw;
  }

  .bigLogo {
    margin-bottom: 1em;
  }
}
